header b, input[type="radio"] {
  cursor: pointer;
}
[draggable="true"] {
  cursor: move;
}
b {
  font-size: 1.3em;
}
header {
  width: 50%;
  text-align: center;
}
header > span, header > input, div > input {
  float: right;
}
input {
  text-align: center;
}
table {
  background-color: #f8f8f8;
}
.sub {
  background-color: #e8e8e8;
}