<form class="form-horizontal">
  <div class="well bs-component">
    <fieldset>
      <div class="row">        
        <label for="notetitle">제목</label>
        <input class="form-control" type="text">
              <div class="form-group">
            <div class="form-group">
              <label for="comment">내용</label>
              <textarea class="form-control" rows="7" id="comment"></textarea>
            </div>
          </div>
        </div>
        <p class="text-right">
          <a class="btn btn-primary btn-sm" id="btn_mod">등록</a>&nbsp;
          <a class="btn btn-default btn-sm" id="btn_cancel" routerLink="../note">취소</a>
        </p>
      
    </fieldset>
  </div>
</form>